<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Test HardQode</title>
</head>
<body>

<!-- Head -->
<nav>
    <a href="{% url 'my_test_app:main' %}">Главная</a> |
    <a href="#">Общая статистика</a> |
    {% if user.is_authenticated %}
        <a>{{ user.username }}</a> |
        <a href="#">Мои продукты</a> |
        {% if user.is_superuser or user.is_staff %}
            <a href="{% url 'admin:index' %}">Админ-панель</a> |
        {% endif %}
        <a href="{%  url 'my_test_app:logout' %}">Выйти</a>
    {% else %}
        <a href="{% url 'my_test_app:login' %}">Войти</a> |
    {% endif %}
</nav>

<!-- Content -->
{% block content %}
{% endblock content %}

<!-- Footer -->
<nav id="footer">
    Мой <a href="http://github.com/heshegto" target="_blank">GitHub</a>
    |
    Моя почта: <a href="mailto:heshkin@gmail.com" target="_blank">heshkin@gmail.com</a>
</nav>
</body>
</html>