{% extends 'base.html' %}

{% block content %}
    <p>Реализация заданий из раздела 1 видна в файле my_test_app/models.py</p>
    <p>Для просмотра заданий 2.1 и 2.2 нужно сначала войти в аккаунт (суперпользователь: "hesh", обычные пользователи:
        "user_2", "user_3"; для каждого пароль: "heshhesh")</p>
    <p>Чтобы увидеть задание 2.1 нужно после входа в аккаунт перейти к "Мои продукты"</p>
    <p>Чтобы увидеть задание 2.2 нужно после входа в аккаунт, после перехода к "Мои продукты" дописать в адресной строке
        id продукта (например: 127.0.0.1:8000/api/user_list/1)</p>
    <p>Для того, чтобы просмотреть выполненное задание 2.3, необходимо нажать на ссылку "Общая статистика"</p>
    <p>Реализация заданий из раздела 2 видна в разделе api в файлах serializer.py и views.py</p>
{% endblock %}