{% extends 'base.html' %}

{% block content %}
    <p>Для того, чтобы просмотреть выполненное задание 2.3, необходимо нажать на ссылку "Общая статистика"</p>
    <p>Для просмотра заданий 2.1 и 2.2 нужно сначала войти в аккаунт</p>
    <p>(суперпользователь: "hesh", обычные пользователи: "not_hesh", "not_hesh_at_all", "another_guy"; для каждого
        пароль: "heshhesh")</p>
    <p>Чтобы увидеть задание 2.1 нужно после входа в аккаунт перейти к "Мои продукты"</p>
    <p>Чтобы увидеть задание 2.2 нужно на вкладке "Мои продукты" нажать на любой продукт</p>
{% endblock %}